@import url('https://fonts.googleapis.com/css?family=Lato:400');

@font-face {
                          font-family: "RubrikLight";
                          src: url('../fonts/Rubrik Light.otf') format("opentype");
                        }
                        
.desktophd {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.desktophd .backgroundimage {
  background-color    : rgba(255,255,255,0.0);
  top                 : -8px;
  height              : 1040px;
  width               : 1849px;
  position            : absolute;
  margin              : 0;
  left                : -136px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 49px;
  height              : 143px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .topbar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 106px;
  height              : 30px;
  width               : 1042px;
  position            : absolute;
  margin              : 0;
  left                : 302px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .topbar .coordonn351esimportan {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 371px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "RubrikLight", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.desktophd .topbar .seed {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "RubrikLight", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.desktophd .topbar .classements {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 184px;
  position            : absolute;
  margin              : 0;
  left                : 668px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "RubrikLight", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.desktophd .topbar .clans {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 81px;
  position            : absolute;
  margin              : 0;
  left                : 539px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "RubrikLight", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.desktophd .topbar .apropos {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 142px;
  position            : absolute;
  margin              : 0;
  left                : 900px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "RubrikLight", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.desktophd .virgincraftbutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 512px;
  height              : 138px;
  width               : 435px;
  position            : absolute;
  margin              : 0;
  left                : 502px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .virgincraftbutton .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 138px;
  box-sizing          : border-box;
  width               : 435px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 69px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .virgincraftbutton .logo2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 114px;
  width               : 115px;
  position            : absolute;
  margin              : 0;
  left                : 160px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .d351couvrezvirgincraf {
  background-color    : rgba(255,255,255,0.0);
  top                 : 412px;
  height              : auto;
  width               : 523px;
  position            : absolute;
  margin              : 0;
  left                : 458px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 49.0px;
  color               : rgba(254, 255, 255, 1.0);
  text-align          : center;
  line-height         : 58.0px;
}
.desktophd .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 225px;
  height              : 2px;
  width               : 1460px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.9;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}